.DS_Store
/.idea
/old
*.pyc
/sde_jsonl
/sde_jsonl_zip
/icons_input
/icons_zip
/3rd
/localization/extra
/localization/output
/localization/raw
/custom_icons
/cache
/mapGenerator/maps
tools/sqlite_comparison_report_item_db_zh_vs_item_db_zh.txt
tools/sqlite_field_diff_item_db_zh_vs_item_db_zh.txt
tools/sqlite_sync_item_db_zh_to_item_db_zh.sql
output/
/.cloudflare
/test_output
/brackets_decode/raw
brackets_decode/brackets_output.json
/tmp
/temp_whats_new
